.pagination {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    li {
        margin-right: .75em;
        margin-left: .75em;
        &.quick-nav {
            // &.left {
            //     margin-right: .75em;
            // }
            // &.right {
            //     margin-left: .85em;
            // }
        }
        .input {
            max-width: 50px;
        }
    }
}
