.three-cols,
.two-cols {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.three-cols .col {
  width: 32%;
}
.two-cols .col {
  width: 49%;
}
.form {
  margin-bottom: 1em;
}
.btns {
  text-align: right;
  a.button {
    min-width: 10rem;
  }
}

.select {
  select {
    width: 100%;
  }
}

.error {
  margin-top: .1rem;
  padding-left: .5rem;
  span {
    color: #ff0000;
    font-size: .9rem;
  }
}

.full-width {
  width: 100%;
}

.errors.message .message-body {
  padding: .7rem;
}

// Colors
.is-green {
  color: hsl(141, 71%, 48%);
}

