# Django project configuration file

DATABASE_URL=postgres://postgres:Admin@123@localhost:5432/vgu_demo

ALLOWED_HOSTS=['*']

# Facebook access token
FACEBOOK_ACCESS_TOKEN=EAAJwaopwZAIIBAIuQjmgSdb86FfWhDqthIfZBk0efZAvDX4tPr5JixUi01cxbHciB97D6jlZA4RsN4BbohzKnNOcZAUROjX3ykSA0saXVqTDEcsFAgACOYhcJqkhP0WOjz5ZA6lrZCp4jzBSaLkGqMIhHiy7pTZAXCwFAa5rWd3CuAZDZD'
# Facebook album ID
FACEBOOK_ALBUM_ID=672115002991670

CDN_DEFAULT=http://localhost:8000/upload/

MEDIA_URL=/upload/
