{% extends 'base.html' %}

{% load i18n %}

{% block title %}
  Confirm your password
{% endblock %}

{% block content %}
  <form class="regular-form forgot-password" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="form-row">
        <label for="id_new_password1">
          {% trans 'New password:' %}
        </label>
        <div class="field-wrapper">
            {{ form.new_password1 }}
        </div>
      </div>
      <div class="form-row">
        <label for="id_new_password2">
          {% trans 'Confirm password:' %}
        </label>
        <div class="field-wrapper">
            {{ form.new_password2 }}
        </div>
      </div>
      <div class="form-row btn-wrapper">
        <button class="btn active" type="submit">Reset Password</button>
      </div>
    </div>
  </form>
{% endblock %}
