.navbar {
    display: flex;
    align-items: center;
    .navbar-item {
        img {
            max-height: 2rem;
        }
    }
}

.navbar-menu {
    .navbar-end {
        align-items: center;
        flex-grow: initial;
        .dropdown {
            .dropdown-trigger {
                cursor: pointer;
                display: flex;  
                align-items: center;
                .avatar {
                    width: 32px;
                    height: 32px;
                    margin-right: 0.1rem;
                    padding: 0;
                    border: 0;
                }
            }
            .dropdown-menu {
                min-width: 7rem;
                .dropdown-item {
                    padding-top: 0.1rem;
                    padding-bottom: 0.1rem;
                }
            }
        }
   }
}

@media only screen and (min-width: 1088px) {
    .navbar.is-warning .navbar-start > a.navbar-item:hover {
        background: #ffffff;
    }
}

