body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 25px;
  color: #474544;
  background: #F2F3EB;
  text-align: center;
  font-weight: 300;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

#header {
  margin: 50px auto 0;
}

#header img {
  max-width: 50%;
  display: block;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

label {
    font-weight: 400;
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

input, textarea, select {
    border: 2px solid #474544;
    padding-left: 2px;
    padding-right: 2px;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

input {
    width: 370px;
    height: 25px;
    color: #474544;
    font-size: 15px;
    font-weight: 400;
}

#jobImage {
    background-color: white;
    padding-top: 2px;
}

textarea {
    width: 370px;
    color: #474544;
    font-size: 15px;
}

select {
    background: url('../../image/arrow-down.png') no-repeat right;
    background-color: white;
    color: #474544;
    width: 380px;
    height: 33px;
    -webkit-appearance: none;
}

#jobOthersInput {
    display: none;
}

#jobOthersInput input {
    margin-left: 31%;
}

button.submit-btn {
    background: none;
    border: none;
    outline: none;
    margin: 2vmax;
}

.send-icn {
  fill: black;
}

.send-icn:hover {
  fill: rgba(255, 102, 0, 1);
  cursor: pointer;
}

button:hover small {
  opacity: 1;
}

small {
  display: block;
  opacity: 0;
}

textarea {
    resize: none;
}

.form-row {
    max-width: 555px;
    margin-bottom: 10px;
}

.form-row.btn {
    text-align: right;
}