label {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

input, textarea, select {
    border-radius: 3px;

    border: 1px solid #ccc;
}

input {
    width: 365px;
    height: 25px;
}

textarea {
    width: 363px;
}

select {
    width: 370px;
    height: 25px;
}

button.submit-btn {
    width: 200px;
    background: #ccc;
    border: 1px solid #ccc;
    height: 30px;
    color: gray;
    border-radius: 5px;
    margin-right: 5px;
}

textarea {
    resize: none;
}

.form-row {
    max-width: 540px;
    margin-bottom: 10px;
}

.form-row.btn {
    text-align: right;
}