{% load i18n staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %} - VGU Alumni</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="slider-loader" style="display: none;"></div>
    <div id="container" class="container">
        <div class="header">
            <h1>Job Board</h1>
            <div class="underline"></div>
            <div id="header">
                <a href="{% url 'frontsite:index' %}">
                    <center><img src="{% static 'images/vgu_logo.png' %}"></center>
                </a>
                <div id="navigation" class="col-12">
                    <ul>
                        <li class="col-4">
                            <a href="{% url 'frontsite:index' %}">Home</a>
                        </li>
                        <li class="col-4">
                            <a target="_blank" href="https://www.facebook.com/VGUAlumniCommunity">Facebook</a>
                        </li>
                        <li class="col-4">
                            <a target="_blank" href="https://vgualumniqna.tumblr.com/">Q&amp;A</a>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="inner">
            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            <p>Vietnamese-German University Alumni Team 2017 ©</p>
            <p>Should any questions arise, please contact us at: <a href="mailto:vgu.alumni@gmail.com">vgu.alumni@gmail.com</a></p>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/select.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pikaday.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script>
        UPLOADCARE_PUBLIC_KEY = "8cce25de0ec556667841";
        UPLOADCARE_CLEARABLE = true;
        UPLOADCARE_PREVIEW_STEP = true;
    </script>
    <script charset="utf-8" src="//ucarecdn.com/libs/widget/3.2.1/uploadcare.full.min.js"></script>
    {% block extra_scripts %}{% endblock %}
    <div class="pika-single is-hidden is-bound" style="position: static; left: auto; top: auto;"></div>
</body>
