{% extends 'base.html' %}

{% block title %}
  Request reset password
{% endblock %}

{% block content %}
  <form class="regular-form forgot-password" method="POST">
    {% csrf_token %}
    <div class="row">
      {% for field in form.visible_fields %}
        <div class="form-row{% if field.field.required %} required{% endif %}">
          <label for="{{ field.name }}">{{ field.label }}</label>
          <div class="field-wrapper">
              {{ field }}
          </div>
          {% if field.errors %}
              <div class="error">
                  {% for error in field.errors %}
                      <p>{{ error }}</p>
                  {% endfor %}
              </div>
          {% endif %}
          {% for hidden in form.hidden_fields %}
              {{ hidden }}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div class="form-row btn-wrapper">
      <button class="btn active cta-forgot" type="submit">Reset password</button>
    </div>
  </form>
{% endblock %}