{% extends 'base.html' %}
{% block title %}
  Register Account
{% endblock %}

{% block content %}
  <form class="register-form" action="#">
    <div class="row">
      <div class="form-row">
        <label for="email">Email</label>
        <div class="field-wrapper">
          <input name="email" readonly type="text" />
        </div>
      </div>
      <div class="form-row">
        <label for="userName">Name</label>
        <div class="field-wrapper">
          <input name="userName" type="text" />
        </div>
      </div>
      <div class="form-row">
        <label for="password">Password</label>
        <div class="field-wrapper">
          <input name="password" type="password" />
        </div>
      </div>
      <div class="form-row">
        <label for="passwordConfirm">Confirm password</label>
        <div class="field-wrapper">
          <input name="passwordConfirm" type="password" />
        </div>
      </div>
      <div class="form-row btn-wrapper">
        <button class="btn cta cta-register" type="submit">Register</button>
      </div>
    </div>
  </form>
{% endblock %}