.overview {
    align-items: center;
    display: flex;
    .avatar {
        img {
        max-height: 180px;
        }
    }
    .description {
        font-size: 1.2rem;
        line-height: 1.2;
        margin-left: 1rem;
        .head {
        font-size: 1.5em;
        }
    }
}
section {
    &:not(:first-child) {
        padding-top: 0;
    }
    &.work, &.education {
        .list {
        border: solid 1px;
        padding: 1rem;
        > li {
            padding: 1rem;
            &:not(:last-child) {
            border-bottom: solid 1px #ccc;
            }
        }
        }
    }
}
