.registration-form {
    width: 50%;
    margin: 0 auto;
}

.message-success {
    .success-icon {
        margin-bottom: 10px;
    }
    .success-message {
        font-size: 1.2em;
        p {
            margin-bottom: .5em;
        }
    }
}

.each-major {
    margin-bottom: 1em;
}